<div class="webHeaderTheme">
	<div style="width: 100%; display: inline-block;">
		<div style="width: 400px; display: inline-block;">
			<img src="app/images/theme-header.png" style="display: block; height: 40px;">
			</g:Image>
			<img src="app/images/app-name.png" style="display: block;height: 35px;">
			</g:Image>
		</div>

		<div style="float: right;" class="webHeader">
			<div
				style="width: 250px; height: 145px; display: inline-block; vertical-align: middle;">
				<div style="display: inline-block; text-align: right; height: 22px;">
					<label>Welcome, </label>
				</div>
				<div style="height: 22px;">
					<a>My Account</a> <label
						styleName="{res.myAppStyles.headerTextStyle}">&nbsp;&nbsp;
						| &nbsp;&nbsp;</label> <a>Wish List</a> <label
						styleName="{res.myAppStyles.headerTextStyle}">&nbsp;&nbsp;
						| &nbsp;&nbsp;</label> <a>Logout</a>
				</div>
				<div style="height: 22px">
					<label styleName="{res.myAppStyles.headerTextStyle}">Last
						login Time : 24th Jul 2016</label>
				</div>
			</div>
			<div width="70px" style="display: inline-block;vertical-align: top;">
				<img src="app/images/app-logo.png" style="height:70px;"></img>
			</div>
		</div>

	</div>
</div>


