<div style="width: 10%; height: 100%; position: absolute;">
	<div id="mySidenav" class="sidenav">
		<a class="closebtn" ng-click="$ctrl.closeNavBar()">&times;</a>
		<a href="#/home" ng-click="$ctrl.closeNavBar()">Home</a>
		<a href="#/manage-item" ng-click="$ctrl.closeNavBar()">Manage Item</a> 
		<a href="#/about" ng-click="$ctrl.closeNavBar()">About</a>
		<a href="#/services" ng-click="$ctrl.closeNavBar()">Services</a> 
		<a href="#/clients" ng-click="$ctrl.closeNavBar()">Clients</a> 
		<a href="#/contacts" ng-click="$ctrl.closeNavBar()">Contact</a>
	</div>

	<span style="font-size: 30px; cursor: pointer" ng-click="$ctrl.openNav()">&#9776;</span>

</div>