
<div style="width:100%;float: left;margin-top: 5%;">

	<div class="footerBox" style="padding-right: 50px;">
		<label class="footerHeaader">About Us</label>
		<p class="footerContet">
			This section tells something about you and your organization, 
			products and services. This is a sample content, 
			replace this with your actual content. 
		</p>
	</div>

	<div class="footerBox" style="padding-right: 50px;">
		<label class="footerHeaader">Latest News</label>
		<p>
			<div class="footerLink">
				<a >news feed line 1</a>
			</div>
			<div class="footerLink">
				<a >news feed line 2</a>
			</div>
			<div class="footerLink">
				<a >news feed line 3</a>
			</div>
		</p>
	</div>

	<div class="footerBox">
		<label class="footerHeaader">Contact Us</label>
		<p>
			<div class="borderBottom">
				<g:HTMLPanel>
					<i class="fa fa-envelope-o"
						style="font-size: 14px; color: #cccdd0; margin-right: 5px; width: 15px;"></i>
				</g:HTMLPanel>
				<label class="footerText">examplemailid@bigbhand.com</label>
			</div>
			<div class="borderBottom">
				<g:HTMLPanel>
					<i class="fa fa-phone"
						style="font-size: 14px; color: #cccdd0; margin-right: 5px; width: 5px;"></i>
				</g:HTMLPanel>
				<g:Label class="footerText">+(080)-24425296</g:Label>
			</div>
			<div class="borderBottom">
				<g:HTMLPanel>
					<i class="fa fa-home"
						style="font-size: 14px; color: #cccdd0; margin-right: 5px; width: 15px;"></i>
				</g:HTMLPanel>
				<label class="footerText">your complete address goes here</label>
			</div>
		</p>
	</div>

</div>